<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b> NINHO</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Donate</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light text-dark" href="/projetoNinho/cadastro">Cadastre-se</a>
      </div>
    </div>
  </nav>
  <div class="py-5 align-items-center d-flex">
    <div class="container py-5">
      <div class="row" style="">
        <div class="col-md-8 px-md-5">
          <h1 class="display-3 mb-4 text-body">Faça a sua parte e seja solidário</h1>
          <p class="lead mb-4">Frase motivacional</p> <a class="btn btn-lg text-white btn-danger border-light" href="/projetoNinho/registro-necessidade">Preciso de ajuda</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-info">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">Idealizadores</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/home/twistz/Desenvolvimento/Hackathon2020/projetohackathon/static/images/honorioleo.jpeg" width="150" alt="Card image cap" style="" height="150">
          <h4> <b>Leonardo Honorio</b></h4>
          <p class="mb-0">Desenvolvedor</p>
        </div>
        <div class="col-lg-4 col-6 p-4"> <img class="d-block mb-3 mx-auto rounded-circle" src="/home/twistz/Desenvolvimento/Hackathon2020/projetohackathon/static/images/robertinha.jpeg" width="150">
          <h4> <b>Roberta Santos</b></h4>
          <p class="mb-0">Empreendedora</p>
        </div>
        <div class="col-lg-4 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/home/twistz/Desenvolvimento/Hackathon2020/projetohackathon/static/images/vitucouto.jpeg" width="150">
          <h4> <b>Victor Couto</b></h4>
          <p class="mb-0">Desenvolvedor</p>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/home/twistz/Desenvolvimento/Hackathon2020/projetohackathon/static/images/dandsassis.jpeg" width="150">
          <h4> <b>Dandara Assis</b></h4>
          <p class="mb-0">Desenvolvedora</p>
        </div>
        <div class="col-lg-6 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/home/twistz/Desenvolvimento/Hackathon2020/projetohackathon/static/images/hellen.jpeg" width="150">
          <h4> <b>Hellen Sabrina</b></h4>
          <p class="mb-0">Design</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
          <p> <a href="tel:+246 - 542 550 5462">+1 - 256 845 87 86</a> </p>
          <p class="mb-0"> <a href="mailto:info@pingendo.com">info@pingendo.com</a> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
            <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
          </a> </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2014-2018 Pingendo. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>